In [ ]:
# linear algebra
import numpy as np 

# data processing
import pandas as pd 

# Algorithms
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

import pickle

In [ ]:
df= pd.read_csv('adult.csv')

df[df == '?'] = np.nan

df['occupation'] = df['occupation'].fillna('Prof-specialty')
df['workclass'] = df['workclass'].fillna('Private')
df['native.country'] = df['native.country'].fillna('United-States')
df.drop(['education.num'], axis = 1, inplace = True)
df['education'].replace(['11th', '9th', '7th-8th', '5th-6th', '10th', '1st-4th', 'Preschool', '12th'],
                             ' School', inplace = True)
df['education'].value_counts()
df['race'].replace(['Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'],' Other', inplace = True)

countries = np.array(df['native.country'].unique())
countries = np.delete(countries, 0)
df['native.country'].replace(countries, 'Other', inplace = True)

df.replace(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent', 'Never-married','Separated','Widowed'],
             ['divorced','married','married','married', 'not married','not married','not married'], inplace = True)
df= df.rename(columns={"marital.status": "marital-status", "native.country":"native-country", "sex":"gender", "capital.gain":"capital-gain", "capital.loss":"capital-loss"	, "hours.per.week":"hours-per-week"})


category_col =['workclass', 'race', 'education','marital-status', 'occupation',
               'relationship', 'gender', 'native-country', 'income'] 
labelEncoder = preprocessing.LabelEncoder()

mapping_dict={}
for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])
    le_name_mapping = dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))
    mapping_dict[col]=le_name_mapping
df.drop(['fnlwgt'], axis = 1, inplace = True)

df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

   age  workclass  education  ...  hours-per-week  native-country  income
0   90          3          5  ...              40               1       0
1   82          3          5  ...              18               1       0
2   66          3          8  ...              40               1       0
3   54          3          0  ...              40               1       0
4   41          3          8  ...              40               1       0

[5 rows x 13 columns]

In [ ]:
X = df.drop(['income'], axis=1)
Y = df['income']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)

Y_prediction = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

97.98

In [ ]:
pickle.dump(random_forest, open("model.pkl","wb"))